/* body{
    width:930px;
    margin: auto !important;
} */

main , ul
{
    width:930px;
    margin: auto !important;
}

header{
    background-color: gray;
}

nav ul li:nth-child(1)
{
    padding-left: 0;
}
nav ul li 
{
    
    margin:auto ;
    vertical-align: middle;
    padding: 0 calc(100%/20);
    display: inline-block;
    
}
nav ul{
    
    /* text-align: center; */
}
main{
    position: relative;
}


main section:nth-child(1) img
{
   
    width: 100%;
    
}

main section
{
  
    margin-top: 30px;
    width: 100%;
    
}
main section:nth-child(2) img:nth-child(2)
{
   
    margin: 0 11px;
    
}
main section:nth-child(3) img:nth-child(1)
{
   
    width: 50%;
    float: left;
    margin-right: 2%;

    
}
main section:nth-child(4) p
{
   
    
    height: 50.5vh;
    overflow-y: auto;
    border: 3px solid black;
    
}
main section:nth-child(4) input
{
   
    
    border-block-color: black;
    background-color: black;
    color: white;
    width: 15%;
    margin-top: 1%;
    border-radius: 3px;
    padding: 0.3%;
   
}
main section:nth-child(4) input:hover
{
   
    
    border-block-color: gray;
    background-color: gray;
    color: black;
    width: 15%;
    margin-top: 1%;
    border-radius: 3px;
    padding: 0.3%;
}
    


footer{
    clear: both;
    height: 80px;
    background-color: gray;
    margin-top: 30px;
}